body{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 65px 0;
}
.nav_li{
    display: inline-block;
}
.nav_li:not(:last-of-type){
    margin-right: 40px;
}
.nav_link{
    font-weight: 700;
    line-height: 28px;
    color: #222831;
    text-decoration: none;
}
.header_link{
    font-weight: 700;
    text-decoration: none;
    line-height: 19px;
    color: #FF5722;
    margin-right: 23px;
}
.header_button{
    width: 103px;
    height: 43px;
    border: none;
    font-weight: 700;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF5722;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.flex_start{
    justify-content: flex-start;
}
.pretitle_text{
    max-width: 101px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #222831;
    margin-right: 15px;    
}
.line{
    width: 73px;
    height: 2px;
    background: #222831;
}
.intro_title{
    max-width: 667px;
    font-weight: 700;
    font-size: 52px;
    line-height: 67px;
    color: #DD2C00;
    margin-right: 61px;
}
.color_blue{
    color: #10375C;
}
.intro_text{
    max-width: 368px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #6A6A6A;
}
.intro_block{
    position: relative;
}
.intro_img{
    text-align: end;
    margin-right: -130px;
}
.intro_form{
    width: 445px;
    height: 459px;
    background-color: #10375C;
    position: absolute;
    left: 0px;
    top: 80px
}
.form_text{
    width: 333px;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 42px 72px 29px 40px;
}
.input_wrapper{
    position: relative;
    margin: 0px 40px 17px;
    width: 365px;
    height: 68px;
    background-color:#0D2C4A;
    border: none;
    box-sizing: border-box;
}
.input{
    padding: 8px 0 0 12px;
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    background-color:#0D2C4A;
    border: none;
}
.label{
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    top: 34px;
}
.form_button{
    width: 363px;
    height: 53px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #FF5722;
    margin: 5px 42px 31px 40px;
}
.space{
    margin-top: 110px;
}
.about{
    margin-bottom: 56px;
}
.space_title{
    width: 216px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
}
.space_text{
    width: 452px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #9A9A9A;
}
.space_li:not(last-of-type){
    margin-right: 13px;
}
.work{
    position: relative;
    margin: 0 auto 0;
}
.work_nav{
    
    width: 72px;
    height: 72px;
    background-color: #FF5722;
    position: absolute;
    left: 0;
    bottom: 0;
}
.work_icon{
    color: #FFFFFF;
    position: absolute;
    left: 31px;
    bottom: 26px;
}
.work_block{
    position: relative;
}
.work_text{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222831;
}
.private{
    position: relative;
}
.privat_item{
    width: 350px;
    height: 419px;
    background-color: #10375C;
    position: absolute;
}

.private_title{
    width: 201px;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #FFFFFF;
    position: absolute;
    top: 130px;
    left: 75px;
    text-align: center;
}
.private_text{
    width: 253px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 178px;
    left: 55px;
}
.private_nav{
    width: 255px;
    height: 65px;
    background-color: #FF5722;
    position: absolute;
    left: 0;
    top: 354px;
}
.private_text-nav{
    width: 129px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 53px;
    top: 20px;
}
.private_icon{
    color: #FFFFFF;
    position: absolute;
    left: 214px;
    top: 25px;
}
.why{
    margin: 147px auto 112px;
}
.grid_support{
    margin: 44px 71px 44px 0;
    width: 499px;
    height: 353px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px 124px;
}
.why_main{
    width: 540px;
    height: 421px;
    position: relative;
    background-color: #10375C;
}
.why_pretitle{
    margin: 54px 0 0 53px;
}
.why_pretitle-text{
    max-width: 109px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF
}
.line_why{
    width: 73px;
    height: 2px;
    background: white;
}
.why_title{
    max-width: 433px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    margin: 8px 0 0 53px;
}
.why_text{
    max-width: 433px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 24px 0 0 53px;
}
.pretitle_text-our{
    max-width: 115px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #222831;
    margin-right: 15px;
}
.our{
    margin-bottom: 110px;
}
.our_title{
    max-width: 570px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
    margin: 8px 0 56px 0;
}
.our_nav{
    max-width: 303px;
}   
.flex-our{
    display: flex;
    flex-direction: column;
}
.our_text{
    width: 293px;
    height: 72px;
    border: none;
    background-color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222831;
    text-align: left;
    box-sizing: border-box;
    padding: 24px 0 24px 24px;
}
.our_text:hover{
    color: white;
    background-color: #FF5722;
    box-shadow:  10px  rgba(255, 87, 34, 0.3);
}
.gallery{
    margin-bottom: 12px;
}
.gallery_block{
    max-width: 744px;
    height: 605px;
    margin: 0 auto 110px;
}
.gallery_pretitle{
    max-width: 214px;
    margin: 0 auto;
}
.pretitle_text-gallery{
    max-width: 126px;
    margin-right: 15px;
}
.gallery_tittle{
    max-width: 496px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #10375C;
    margin: 0 auto 47px;
}
.flex_center{
    justify-content: center;
}
.who{
    margin-top: 700px;
}
.who_title{
    max-width: 355px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #0D2C4A;
    margin: 0 auto 24px;
}
.who_text{
    max-width: 633px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9A9A9A;
    margin: 0 auto 65px;
}
.grid_who{
    max-width: 1175px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto 112px;
}
.reviews_title{
    max-width: 399px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
    margin-bottom: 55px;
}
.reviews_main{
    width: 540px;
    height: 421px;
    background-color: #10375C;
    position: relative;
}
.reviews_text{
    max-width: 365px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF; 
    text-align: left;
    position: absolute;
    top: 47px;
    left: 40px;
    /* margin: 47px auto 94px; */
}
.reviews_member{
    position: absolute;
    top: 297px;
    left: 40px;
}
.reviews_photo{
    margin-right: 16px;
}
.reviews_name-pedro{
    max-width: 105px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.reviews_position-pedro{
    max-width: 155px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.reviews_name-raimond{
    max-width: 124px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.reviews_position-raimond{
    max-width: 163px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}