body{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin: 65px 0;
}
.nav_li{
    display: inline-block;
}
.nav_li:not(:last-of-type){
    margin-right: 40px;
}
.nav_link{
    font-weight: 700;
    line-height: 28px;
    color: #222831;
    text-decoration: none;
}
.header_link{
    font-weight: 700;
    text-decoration: none;
    line-height: 19px;
    color: #FF5722;
    margin-right: 23px;
}
.header_button{
    width: 103px;
    height: 43px;
    border: none;
    font-weight: 700;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF5722;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.intro{
    position: relative;
}
.flex_start{
    justify-content: flex-start;
}
.pretitle_text{
    max-width: 101px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #222831;
    margin-right: 15px;    
}
.line{
    width: 73px;
    height: 2px;
    background: #222831;
}
.intro_title{
    max-width: 667px;
    font-weight: 700;
    font-size: 52px;
    line-height: 67px;
    color: #DD2C00;
    margin-right: 61px;
}
.color_blue{
    color: #10375C;
}
.intro_text{
    max-width: 368px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #6A6A6A;
}
.intro_img{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.intro_form{
    width: 445px;
    height: 459px;
    background-color: #10375C;
    position: absolute;
    left: 140px;
    top: 0px
}
.form_text{
    width: 333px;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 42px 72px 29px 40px;
}
.input_wrapper{
    position: relative;
    margin: 0px 40px 17px;
    width: 365px;
    height: 68px;
    background-color:#0D2C4A;
    border: none;
    box-sizing: border-box;
}
.input{
    padding: 8px 0 0 12px;
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    background-color:#0D2C4A;
    border: none;
}
.label{
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    top: 34px;
}
.form_button{
    width: 363px;
    height: 53px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #FF5722;
    margin: 5px 42px 31px 40px;
}
.space_title{
    width: 216px;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #10375C;
}
.space_text{
    width: 452px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #9A9A9A;
    margin-bottom: 56px;
}
.space_li:not(last-of-type){
    margin-right: 13px;
}
.item{
    width: 72px;
    height: 72px;
    background-color: #FF5722;
    position: absolute;
    left: 0;
    bottom: 0;
}
.work_icon{
    color: #FFFFFF;
    position: absolute;
    left: 31px;
    bottom: 28px;
}
.work_block{
    position: relative;
}
.work_text{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #222831;
}
