body {
    font-family: 'Open Sans', sans-serif;
}  

.container {
    max-width: 1300px;
    margin: 0 auto;
}


.background {
    background-image: url(../img/background.png);
    text-align: center;
    padding: 180px 0 138px;
}

.background_title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 14px;

}

.background button {
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
    border: none;
}

.header{
    margin: 53px 0px;
}


.nav_ul {
    text-align: center;
}

.nav_li {
    display: inline-block;
}

.nav_li:not(:last-of-type){
    margin-right: 47px;
}

.nav_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}

.description {
    background-color: rgba(26, 110, 136, 0.71);
    padding: 134px 0;
}

.description_text {
    max-width: 726px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;  
    color: #FFFFFF;
    position: relative;
}


.section_whiteup {
   margin: 221px 330px 216px 364px ;
   position: relative;
}

.section_whitebottom {
    margin: 0 384px 123px 360px ;
    position: relative;
 }


.black_text {
    margin: 0 auto;
    max-width: 696px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    position: relative;
}

.object_leftup {
    content: ' ';
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: relativ;
    top: -121px;
    left: 0 ;
}

.object_leftbottom{
    content: ' ';
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    top: 121px;
    left: 0 ;
}


.object_right{
    content: ' ';
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    top: 14px; 
    right: 0 ;  

}
   

.bottom_position::before {
    content: ' ';
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #5C98AB;
    top: -58px;
    left: -30px;
}

.bottom_position::after {
    content: ' ';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #BFDEFBAB;
    up: -159px;
    right: -152px;
}


.form-section {
    max-width: 647px;
    margin: 63px auto 100px;
    
}

.input_wraper {
   position: relative;
   margin-bottom: 41px;
}

.input {
    width: 100%;
    height: 96px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 36px 0 11px 34px;
    box-sizing: border-box;
    
}

.label {
    position: absolute;
    left: 33px;
    top: 14px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;

}

.input::placeholder, .input {
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;

}

.form_button {
    width: 100%;
    height: 92px;
    background: #5C98AB;
    font-weight: 700;
font-size: 36px;
line-height: 49px;
color: #FFFFFF;

}
