body{
    font-family: 'Work Sans', sans-serif; 
}

.header {
    background-color: #F3C6BD;
    padding: 46px 0 71px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.flex_start{
    justify-content: flex-start;
}

.logo img {
   margin: 15px;
}

.logo_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
   
}

.logo_text {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
   
}

.header_link {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;

}

.header_ul{
    margin-right: 77px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.header_link:hover::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #16afdd;
    bottom: 0;

}


.header_button{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    position: relative;
}


.header_button:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #1b30ed;
    transition: 1s;
    cursor: pointer;
}

.section{
    background: #F4F5F7;
    padding: 77px 0 76px;
}

.section_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.section_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}



.section_img{
    margin: 30px auto 117px;
    width: 1139.77px;
    height: 75px;

}

.picture_title{
    margin: 108px auto 24px;
    font-size: 22px;
    line-height: 34px;
    text-align: center;

color: #2B292D;
}


.pattern_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}

.pattren_pretitle-orange{
    color: #F1592B;
}

.pattern_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-bottom: 26px;
}

.pattern_text{
    min-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;

}


.inbox{
    background: rgba(252, 240, 227, 0.4);
    padding: 116px 0 117px;

}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 28px;
    box-sizing: border-box;
}

.inbox_text-bold{
    font-weight: 700;
}


.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;

}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, .6);
}

.inbox_img{
    margin-right: 11px;
}

.section_photo{
    margin: 0 auto 26px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
       
}

.photo_title{
    margin: 0 auto 30px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
}

.photo_text{
    margin: 0 auto 97px;
    width: 554px;
    height: 68px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;        
}

.picture{
    height: 983px;
    background:rgba(0, 161, 198, 0.07);
    
    }

.picture_button{
    display: flex;
    justify-content: center;
    
       
}

.white_button{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    font-weight: 700;
    position: relative;
    margin-left: 10px;
}
  

.picture_block{
    display: grid;
    grid-template-columns: repeat(4, 262px);
    gap: 30px;
    justify-content: center;
    margin: 111px auto 110px; 
   }

.picture_image{
    padding-top: 22px;
   
}


.picture_text{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding-bottom:  33px;
    position: relative;
}

 .picture_text:hover::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #16afdd;
    bottom: 33px;
    left: 0;
} 

.picture_item{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
   

}

.picture_item:hover{
    background: #3141C5;
    color: #FFFFFF;
    transition: 0,5s; 
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 347px);
    grid-template-rows: repeat(3, 208px);
    gap: 49px 42px;
}

.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}