body{
    font-family: 'Work Sans', sans-serif; 
}

.header {
    background-color: #F3C6BD;
    padding: 46px 0 71px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.flex_center{
    align-items: center;
}
.flex_start{
    justify-content: flex-start;
}
.logo img {
   margin-right: 15px;
}

.logo_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
   
}

.header_link {
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;

}

.header_ul{
    margin-right: 77px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.header_link:hover::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #16afdd;
    bottom: 0;

}
.checkbox_header, .check-wrapper{
    display: none;
}

button{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    position: relative;
}

button:hover{
    background: yellow;
    color: black;
    transition-duration: 500ms;
    transition-delay: 200ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main{
    background-color: #F3C6BD;
    position: relative;
    padding-bottom: 126px;
}
.main_container > div:first-of-type{
    z-index: 1;
}
.main_container > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 25px;
}
.main_title{
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 754px;
    margin-bottom: 34px;   
}
.main_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 456px;
    margin-bottom: 58px;
}
.main_img-img{
    width: 796px;
    height: 448px;
}
.information{
    background: #F4F5F7;
    padding: 77px 0 76px;
}
.information_text-normal{
    font-weight: 400;
}

.information_text{
    max-width: 555px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}
.image{
    margin: 30px auto 117px;
}
.grid_image{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   justify-items: center;
    align-items: center;
}
.find{
    margin-bottom: 103px;
    position: relative;
}
.find_main{
    
}
.find_items{
    max-width: 457px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}
.find_img{
    margin-right: 20px;
}
.find_pretitle-text{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #2B292D;
    margin-bottom: 22px;
}
.change_color-find{
    color: #3142C6;  
}
.change_color-line{
    border-bottom: 3px solid #3142C6;
}
.change_color-icon{
    fill: #3142C6;
} 
.find_block{
    max-width: 459px;
    height: 90px;
    display: none;
}
.find_text{
    max-width: 459px;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-top: 8px;
}
.left_img{
    position: absolute;
    left: 0;
    top: 248px;
}
.right_img{
    position: absolute;
    right: 0;
    top: 0;
}
.template_pretitle{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
    color: #2B292D;
}
.template_pretitle-blue{
    color: #3142C6;
    margin-bottom: 28px;
}
.template_pretitle-green{
    color: #009B4D;
    margin-bottom: 28px;
}
.template_pretitle-orange{
    color: #F1592B;
    margin-bottom: 28px;
}
.pattern_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}

.pattren_pretitle-orange{
    color: #F1592B;
}

.pattren_pretitle-blue{
    color:#0189D1;
}

.pattren_pretitle-black{
    color: black;
}
.pattren_pretitle-green{
    color: #009B4D;
}
.pattern_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    padding-bottom: 26px;
}

.pattern_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    padding-bottom: 44px;

}


.inbox{
    background: rgba(252, 240, 227, 0.4);
    padding: 116px 0 117px;

}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 28px;
    box-sizing: border-box;
}

.inbox_text-bold{
    font-weight: 700;
}


.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;

}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, .6);
}

.inbox_img{
    margin-right: 11px;
}

.phone{
        pudding: 110px 0 105px;
}

.phone_text{
    max-width: 360px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.phone_text-normal{
    font-weight: normal;
}

.phone_text-violet{
    color:rgb(97, 66, 198);
    text-decoration: underline;
}

.container-image{
    margin-bottom: 105px;
}

.container-image_phone{
    position: relative;
    animation-name: phone;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes phone{
    0%{
       transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
        }
    100%{
        transform: rotate(0deg);
    }
}
.container-image_phone:hover{
    animation-play-state: paused;
}


.container-image_rotator{
    position: relative;
    animation-name: rotator;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container-image_rotator:hover{
    animation-play-state: paused;
}

@keyframes rotator{
    0%{
        left: 0;
    }
    10%{
        left: 20px;;
        bottom: 20px;
        background-color: red;
    }
    20%{
       left: 40px;
       bottom: 40px;
       background-color: orange;
    }
    30%{
        left: 20px;
        bottom: 60px;
        background-color: yellow;
        }
    40%{
        left: 0;
        bottom: 80px;
        background-color: green;
    }
    60%{
        right: 20px;
        bottom: 60px;
        background-color: blue;
    }
    80%{
        right: 40px;
        bottom: 40px;
        background-color: indigo;
    }
    0%{
        right: 20px;
        bottom: 10px;
        background-color: violet;
    }
}
.section_photo{
    margin: 0 auto 26px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
       
}



.template_title{
    margin: 0 auto 30px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
}

.template_text{
    margin: 0 auto 97px;
    width: 554px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;        
}

.picture{
    background:rgba(0, 161, 198, 0.07);
    padding: 108px 0 110px;
    }

.picture_button{
    display: flex;
    justify-content: center;
    margin-bottom: 111px;
       
}

.white_button{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    font-weight: 700;
    position: relative;
    margin-left: 10px;
}
  
.white_button:hover{
    height: 55px;
    background-color: rgb(13, 240, 13);
    color: red;
    transition-duration: 500ms;
    transition-delay: 200ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955)    
}

.grid_picture{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
}
.picture_image{
    padding-top: 22px; 
}
.picture_text{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding-bottom:  33px;
    position: relative;
}

 .picture_text:hover::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #16afdd;
    bottom: 33px;
    left: 0;
} 

.picture_item{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
   

}

.picture_item:hover{
    background: #3141C5;
    color: #FFFFFF;
    transition: 0,5s; 
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 49px 42px;
    margin-bottom: 91px;
}
.item_photo{
    width: 100%;
    height: 100%;
}
.item:nth-child(3), .item:nth-child(4){
    grid-row: span 2;
}
.airbulb{
    position: relative;
}
.carusel_text{
    margin: 28px auto 34px;
    max-width: 750px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    box-sizing: border-box;      
}
.carusel_text-red{
    color: red;
    margin: 28px auto 34px;
    max-width: 750px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    box-sizing: border-box;
}
.carusel_text-blue{
    color: blue;
    margin: 28px auto 34px;
    max-width: 750px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    box-sizing: border-box;
}
.airbulb_img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.carusel_director{
    margin: 34px auto 38px;
    /* max-width: 225px; */
    text-align: center;
}
.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;

}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, .6);
}
.hiring{
    margin-bottom: 90px;
}
.hiring_title{
    margin: 0 auto 20px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
}
.hiring_text{
    margin: 0 auto 28px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    max-width: 555px;
}
.hiring_button{
    width: 247px;
    margin: 0 auto 86px;
}
.hiring-rotate-icon{
    rotate: 90deg;
    transition: 300ms;
}
.change_color{
    color: white;
    background-color: #3040C4;
    border: 2px solid #3040C4;
    transition: 300ms;
}
.button_long{
    width: 247px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    position: relative;
}
.hiring_items{
    max-width: 750px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
}
.hiring_ittext{
    margin-bottom: 3px;
    max-width: 410px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: none;
}
.hiring_items-pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.hiring_items-text{
    font-size: 18px;
    line-height: 24px;
    color:rgba(43, 41, 45, 0.6);
}
.free{
    padding: 72px 0 180px;
    background-color: #F4F5F7;
}
.free_img{
    margin-right: 100px;
}
.free_title{
    width: 555px;
    height: 48px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    padding-bottom: 12px;
    text-align: start;
    
}

.free_text{
    max-width: 555px;
    /* height: 64px; */
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 26px;
    text-align: start;
}

.free_email{
    width: 385px;
    height: 48px;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
}

.free_check{
    width: 495px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    position: relative;
}
.fake{
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-radius: 25%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.fake::after, .fake::before{
    content: '';
    position:absolute;
    width: 10px;
    height: 2px;
    background-color: red;
    top: 50%;
    opacity: 0;
} 
.fake::before{
    left: 10%;
    transform: rotate(45deg);
}
.fake::after{
    right: 10%;
    transform: rotate(-45deg);
}
.checkbox:checked ~ .fake::before, .checkbox:checked ~ .fake::after{
    opacity: 1;
    transition: 1s;
}
.checkbox{
    opacity: 0;
    position:absolute;
    z-index: 1;
}
.agree_text{
    color: #3141C5;
    font-size: 14px;
    line-height: 22px;
    margin-right: 20px;
}
.footer_nav{
    margin-bottom: 59px;
    position: relative;
}
.flex_footer-column{
    flex-direction: column;
}
.footer_logo{
    margin-bottom: 26px;
}
.flex_logo{
    display: flex;
    justify-content: start;
    text-align: start;
    margin-bottom: 26px;  
} 
.footer_text{
    width: 360px;
    height: 85px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    text-align: start;
    margin-bottom: 25px;
}
.footer_link-img{
    margin-right: 5px;
}
.product_text{
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #2B292D;
    text-align: start;
    margin-bottom: 18px;
}
.footer_ul{
    width: 265px;
    /* height: 185px; */
}
.footer_li{
    margin-bottom: 15px;
}
.fuuter_li-text:hover{
    cursor: pointer;
    transition: 300ms;
}
.footer_li-text{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}
.footer_media{
    padding: 15px 0;
}
.footer_media{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    text-decoration: none;
}
.footer_media:hover{
    cursor: pointer;
    transition: 300ms;
}
.footer_img:not(:last-of-type){
    margin-right: 10px;
}
.line{
    height: 2px;
    background: #2B292D;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.modal-overlay{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal{
    max-width: 550px;
    text-align: center;
    background-color: #fff;
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    .container{
        max-width: 1040px;
    } 
    .right_img{
        position: static;
    }
    .airbulb_img{
        position: static;
        margin: 30px auto 30px;
    }
@media screen and (max-width: 1090px) {
    .container{
        max-width: 750px;
    } 
    .check{
        width: 30px;
        height: 3px;
        background-color: black;
    }
    .check:not(:last-of-type){
        margin-bottom: 3px;
    }
    .checkbox_header, .check-wrapper{
        display: block;
    }
    .menu-all{
        display: none;
    }
    .menu{
        position: relative;
    }
    .checkbox_header{
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 0;   
        z-index: 2;  
    }
    .check{
        transition: 300ms;
    }
    .checkbox_header:checked ~ .check-wrapper > .check:first-of-type{
        transform: rotate(45deg) translate(10px, 10px);   
    }
    .checkbox_header:checked ~ .check-wrapper > .check:nth-child(2){
        opacity: 0;   
    }
    .checkbox_header:checked ~ .check-wrapper > .check:last-of-type{
        transform: rotate(-45deg) translate(0px, 3px);   
    }
    .header_ul{
        margin-right: 0px;
    }
    .header_li:not(:last-of-type){
        margin-right: 0px;
    }
    .header_li{
        margin-bottom: 20px;
    }
    .checkbox_header:checked ~ .menu-all{
        position: fixed;
        display: block;
        background-color: beige;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        padding-top: 40px;
    }
    .flex_menu{
        flex-direction: column;
    }
    .check-wrapper{
        position: relative;
        z-index: 1;
    }
    .main{      
        padding-bottom: 0;
    }
    .main_container{
        flex-direction: column;
    }
    .main_container > div:last-of-type{
        z-index: 0;
        position: static;
    }   
    .main_img{
        width: 620px;
        height: 349px; 
        margin: 0 auto 0;
    }   
    .main_img-img{
        width: 620px;
        height: 349px;  
        margin: 0 auto 0;
    }
    .flex_information-column{
        flex-direction: column;
    }
    .grid_image{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 620px;
        padding: 25px 0 41px;
        align-items: center;
        justify-items: center;
    }
    .right_img{
        position: static;
        left: 0;
        top: 0;
    }
    .flex_inbox-column{
        flex-direction: column-reverse;
    }
    .flex_phone-column{
        flex-direction: column;
        }
    .information{
        padding: 30px 0 34px;
    }
    .information_text{
        max-width: 432px;
        width: 100%;
    }
    .information_text-right{
        margin-top: 40px;
    }
    .inbox{
        padding: 56px 0 69px;
    }
    .pattern{
        text-align: center;
    }
    .pattern_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }
    .pattern_text{
        max-width: 429px;
        width: 100%;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }
    .template_pretitle{
        margin-top: 50px;
    }
    .template_title{
        max-width: 413px;
        margin: 27px auto 27px;
        font-size: 48px;
        line-height: 56px;
    }
    .template_text{
        max-width: 466px;
        margin-bottom: 27px;
        font-size: 20px;
        line-height: 26px;
    }
    .picture_button{
        margin-bottom: 52px;
    }
    .grid_picture{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 64px 60px;
        justify-content: center;
    }
    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }
    .unshowen_text{
        display: none;
    }
    .phone{
        pudding: 73px 0 38px;
    }
    .phone_text{
        max-width: 322px;
        text-align: center;
        margin: 38px auto 38px;
    }
    .container-image_img{
        margin-top: 41px;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 29px 45px;
    }
    .item:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .item:nth-child(4){
        grid-row: 2/4;
    }
    .item:nth-child(2){
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item:nth-child(7){
        display: none;
    }
    .airbulb_img{
        position: static;
        margin: 51px auto 87px;
    }
    .free{
        padding: 76px auto 62px;
    }
    .flex_free-column{
        flex-direction: column-reverse;
    }
    .free_title{
        max-width: 325px;
        height: 78px;
        font-weight: 700;
        font-size: 48px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        color: #2B292D;
        margin: 0 auto 51px;   
    }
    .free_text{
        width: 590px;
        height: 69px;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #2B292D;
        margin-bottom: 35px;
    }
   .free_check{
        width: 431px;
        height: 43px; 
        margin-bottom: 13px;
    }
    .footer {
        max-width: 343px;
        margin: 49px auto 47px;
    }
    .footer_text{
        display: none;
    }
    
    .flex_logo{
        display: block;
        text-align: center;
    }
    .footer_link{
        max-width: 297px;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    .logo_text{
        max-width: 343px;
    }
    .flex_nav-column{
        flex-direction: column;
    }
     .flex_media-column{
        flex-direction: column;
    }
    .footer .flex{
        display: block;
    }
    .footer_mar{
        margin-bottom: 28px;
    }
    .footer_nav{
        margin-bottom: 0;
    }
    
    .line{
        display: none;
    }
}
@media screen and (max-width: 800px) {

    .container{
        max-width: 500px;
    }
    .right_img-img{
        max-width: 500px;
        width: 100%;
    }
@media screen and (max-width: 550px) {

    .container{
        max-width: 430px;
    }
    
    .main_img-img{
        max-width: 430px;
        width: 100%;
        /* height: 180px;   */
     }
     .right_img-img{
        max-width: 430px;
        width: 100%;
    }
    .free_text{
        max-width: 430px;
        width: 100%;
    }
@media screen and (max-width: 480px) {

    .container{
        max-width: 310px;
    }
    .main_img{
        max-width: 310px;
        width: 100%; 
     } 
     .grid_image{
        max-width: 310px;
        width: 100%;
    }
    .container-image_rotator{
        max-width: 310px;
        width: 100%;  
    }  
    .container-image_phone{
        max-width: 310px;
        width: 100%;  
    } 
    .template_text{
        max-width: 310px;
    }
    @media screen and (max-width: 360px) {

        .container{
            max-width: 310px;
        } 
        .main_title{
            font-size: 50px;
            line-height: 50px;
            letter-spacing: -0.3125px;
            color: #2B292D;
            margin-bottom: 24px;
            max-width: 310px;
            width: 100%;   
         }
        .main_img{
            max-width: 310px;
            width: 100%; 
         } 
        .grid_image{
            max-width: 310px;
            width: 100%;
        }
        .container-image_rotator{
            max-width: 310px;
            width: 100%;  
        }  
        .container-image_phone{
            max-width: 310px;
            width: 100%;  
        } 
        .template_text{
            max-width: 310px;
        }
    }    
@media screen and (max-width: 320px) {

    .container{
        max-width: 290px;
    }
    .checkbox_header:checked ~ .menu-all{
        z-index: 3;  
    }
    .check-wrapper{
        z-index: 4;
    }
    .checkbox_header{
        z-index: 5;
    }
    .header{
        background-color: #fff;
        padding: 8px 0;
    }    
    .logo img {
        margin-right: 13px;
     }
     .main{
        padding: 0;
     }
     .main_title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        color: #2B292D;
        margin-bottom: 24px;
        max-width: 290px;
        width: 100%;   
     }
     .main_text{
        font-size: 24px;
        line-height: 34px;
        color: #2B292D;
        margin-bottom: 30px;
     }
     .main_button{
        flex-direction: column;
     }
     .button-main {
        margin: 0 15px;        
     }
     .white_button-main{
        padding: 0;
        margin: 0 15px 33px;
     }
     .main{
        margin-bottom: 0;
     }
     .main_img{
        max-width: 290px;
        width: 100%; 
        height: 180px;
        margin-bottom: 36px;  
     }
     .main_img-img{
        max-width: 290px;
        width: 100%;
        height: 180px;  
     }
     .information{
        padding: 46px 15px;
    }
    .information_text{
        max-width: 290px;
        width: 100%;
    }
    .information_text-right{
        margin-top: 20px;
    }
    .left_img{
        display: none;
    }
    .right_img-img{
        max-width: 290px;
        width: 100%;
    }
    .flex_inbox-column{
        flex-direction: column;
    }
    .container-image_rotator{
        max-width: 290px;
        width: 100%;
    }
    .container-image{    
        margin-bottom: 32px;
    }
    .grid_image{
        max-width: 290px;
        width: 100%;
    }
    .apple_img{
        max-width: 100%;
    }
    .inbox{
        padding: 50px 0 48px;
    }
    .pattern{
        text-align: start;
    }
    .pattern_pretitle{
        margin-bottom: 17px;
    }
    .pattern_title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }
    .pattern_text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }
    .inbox_response{
        padding: 30px 20px;
    }
   .container-image_phone{
        max-width: 290px;
        width: 100%;
   }
    .flex_phonetext-column{
        flex-direction: column;
    }
   .unshowen_text{
    display: block;
   }
    .picture{
        padding: 50px 15px;
    }
    .container_picture{
        max-width: 290px;
        width: 100%;
    }
    .picture_item{
        min-width: 290px;
        width: 100%;
    }
    .template_pretitle{
        max-width: 290px;
        width: 100%;
    }
    .template_title{
        max-width: 290px;
        width: 100%;
        font-size: 40px;
        line-height: 40px;
    }
    .template_text{
        max-width: 290px;
        width: 100%;
        font-size: 24px;
        line-height: 34px;
    }
    .picture_button{
        display: flex;
        flex-direction: column;
    }
    .button{
        max-width: 290px;
        width: 100%;
        margin: 50px auto 12px;
    }
    .white_button{
        max-width: 290px;
        width: 100%;
        margin-bottom: 40px

    }
    .grid_picture{
       grid-template-columns: 1fr;
       grid-template-rows: repeat(4,1fr);
       gap: 15px;
    }
    .item_photo{
        max-width: 290px;
        width: 100%;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }
    .item:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }
    .item:nth-child(4){
        grid-row: 2/4;
    }
    .item:nth-child(7){
        display: none;
    }
    .item:nth-child(2){
        display: none;
    }
    .flex_free-column{
        flex-direction: column;
    }
    .hiring_title{
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        color: #2B292D;    
    }
    .hiring_text{
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #2B292D;
    }
    .button_long{
        max-width: 290px;
        width: 100%;
        margin: 30px auto 39px;
    }
    .hiring_items{
        max-width: 290px;
        height: 140px;
        margin: 0 auto 15px;
        box-sizing: border-box;
        padding: 26px 25px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        border-radius: 8px;
    }
    .hiring_items-pretitle{
        width: 199px;
        font-size: 22px;
        line-height: 28px;
        color: #2B292D;
        }
    .hiring_items-text{
        max-width: 199px;
        height: 26px;
        font-size: 16px;
        line-height: 22px;
        rgba(43, 41, 45, 0.6)
    }
    .free{
        padding: 0;
    }
    .free_title{
        margin: 0;
    }
    .free_title{
        max-width: 290px;
        width: 100%;
        font-size: 48px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        color: #2B292D;
        margin: 0 15px 18px;
        text-align: start;
    }
    .free_text{
        max-width: 290px;
        width: 100%;
        margin: 0 15px 40px;
        text-align: start; 
    }
    .free_email{
        margin: 0;
    }
    .free_email{
        width: 146px;
        height: 13px;
    }
    .free_img{
        margin: 50px auto 40px;
    }
    .footer_nav{
        margin-bottom: 0;
    }
    .footer_store{
        margin: 31px auto 40px;
        text-align: center;
    }
    .line{
        display: none;
    }
}
