.body {
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-color: #F3C6BD;
    padding: 46px 0 71px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
   margin: 15px;
}

.logo_title {
font-weight: 700;
font-size: 20px;
line-height: 25px;
color: #2B292D;

}

.logo_text {
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #2B292D;
}

.header_link {
    
}